:root {
    --color: #24BAA0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 1055px;
    margin: 0 auto;
}

.section-title {
    font-size: 22px;
    color: #575757;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 6px;
    border-bottom: 7px solid var(--color);
    width: 320px;
}

/* PAGE HEADER */

.page-header {
    height: 40px;
    background: #000;
    position: relative; 
    /* z-index zawsze działa z pozycjonowaniem */
    z-index: 100000;
}

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.page-logo {
    margin: 0;
    display: flex;
    align-items: center;
}

.page-logo-link {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.page-logo-link span {
    color: var(--color);
}

.page-nav {

}

.page-nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-nav-list li {
    position: relative;
}

.page-nav-list a {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    padding: 0 20px;
    display: block;
    line-height: 40px;
    transition: 0.5s;
}

.page-nav-list a:hover {
    color: var(--color);
}

.page-nav-sublist {
    position: absolute;
    top: calc(100% + 12px);
    left: 50%;
    background: #000;
    list-style: none;
    padding: 10px;
    margin: 0;
    transform: translate(-50%, 0);
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.page-nav-list li:hover .page-nav-sublist {
    opacity: 1;
    visibility: visible;
}

.page-nav-sublist:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #000;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, 0);
}

.page-nav-sublist:before {
    content: "";
    width: 100%;
    height: 12px;
    display: block;
    background: transparent;
    position: absolute;
    left: 0;
    top: -12px;
}

.page-nav-sublist li {

}

.page-nav-sublist a {
    text-transform: none;
    font-weight: normal;
    line-height: 25px;
}

.main-banner-bg {
    background: linear-gradient(#fafafa, #ddd);
}

.banner {
    height: 505px;
    display: flex;

}

.banner-prev,
.banner-next {
    width: 100px;
    font-size: 70px;
    color: var(--color);
    border: 0;
    background: none;
    cursor: pointer;
    outline: none;
}

.banner-prev:active,
.banner-next:active {
    color: #000;
} 

.banner-slides {
    background: yellow;
    flex-grow: 1;
    position: relative;
}

.banner-next {
    order: 1;
}

.banner-slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s;
}

.banner-slide-show {
    opacity: 1;
    z-index: 1;
}

/* FORMULARZ */

.form {
    display: flex;
    justify-content: space-between;
}

.form-left {
    width: 635px;
}

.form-right {
    width: 345px;
}

.form-row {
    margin-bottom: 25px;
}

.form label:not(.checkbox) {
    position: absolute;
    left: -99999px;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    height: 68px;
    border: 1px solid var(--color);
    font-size: 33px;
    font-weight: 300;
    width: 100%;
    padding: 0 10px;
}

.form input[type="text"]::placeholder,
.form input[type="email"]::placeholder,
.form textarea::placeholder {
    color: #bbb;
}

.form textarea {
    height: 190px;
    resize: none;
    padding: 10px;
}

.checkbox {
    display: flex;
    cursor: pointer;

}

.checkbox-input {
    width: 50px;
    height: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid var(--color);
    flex-shrink: 0;
    outline: none;
    cursor: pointer;
    margin-right: 15px;
}

.checkbox-input:checked {
    background-image: url("../images/form_ok.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.checkbox-text {
    font-size: 20px;
    font-weight: 300;
    color: #aaa;
}